<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.Title %>
</p>

<p>
  <strong>Published year:</strong>
  <%= @book.Published_year %>
</p>
<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
