

<h3 style="text-align: center; font-size: 50px;">
 <small class="text-muted">POKEMON</small>
</h3>

 <div class="text-center border border-secondary bg-light ">

  <%= image_tag(@poke_data["sprites"]["front_default"]) %>
  	
  </div>
  <%= @res["results"][0]["name"].capitalize %>

<%= link_to "Previous", pokemons_path(page: @page - 1)%>
<%= link_to "Next", pokemons_path(page: @page + 1)%>


 
 <b> Hp:</b> <%= @poke_data["stats"][5]["base_stat"]%>
> <b>Attack:</b> <%= @poke_data["stats"][4]["base_stat"] %>
 <b>Defense:</b> <%= @poke_data["stats"][3]["base_stat"] %>
 <span><b> Abilities:</b> </span>
 <% @poke_data["abilities"].each do |ability| %>
   <span class="details"><%= ability["ability"]["name"]%> </span>
   <% end %>
 </div>