<p id="notice"><%= notice %></p>
<h1><b>Assignment 7 Nutrition</h1>
<style>
    body
    {
      background-image: url('https://thumbs.dreamstime.com/b/healthy-food-background-fruits-vegetables-cereal-nuts-superfood-dietary-balanced-vegetarian-eating-products-kitchen-143677456.jpg');
    }
</style>
<br>

<br>

<br>

<br>

<table>
  <thead>
    <tr>
      <th><p style="font-size:30px; color:blue">Food_name</b></p></th>
      <th><input type="text" placeholder="Search.."></th>
      <th><input type="submit" class="btn btn-info" value="Submit"></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.food_name %></td>
        <td><%= food.calories %></td>
        <td><%= link_to 'Show', food %></td>
        <td><%= link_to 'Edit', edit_food_path(food) %></td>
        <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
