<%= form_with(model: revenue) do |form| %>
  <% if revenue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(revenue.errors.count, "error") %> prohibited this revenue from being saved:</h2>

      <ul>
        <% revenue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item %>
    <%= form.text_field :item %>
  </div>

  <div class="field">
    <%= form.label :total_sales %>
    <%= form.number_field :total_sales %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>
<div class="field">
    <%= form.label :addition %>
    <%= form.number_field :addition %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
