<p id="notice"><%= notice %></p>

<h2 style="background-color:#d5e1df"><center>Assignment 13-Pagination</center></h2>
<h3><center>Users</center></h3>
<br>
<div align="center">
  <br>
<table class="table table-bordered border-primary">
  <thead>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>

    <tr>
      <th>Userfirst name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.userfirst_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= link_to 'Show', user, :class=>"btn btn-info text-white" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), :class=>"btn btn-success text-white"  %></td>

        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger text-white" %></td>


      </tr>
    <% end %>

  </tbody>
</table>
<%= paginate @users %>

<%= link_to "Export CSV File", users_path(format: :csv), class:'btn btn-primary' %>
<br>
</div>
<%= link_to 'New User', new_user_path, :class => "btn btn-primary btn-sm bg-primary text-wrap text-white" %>
