<p id="notice"><%= notice %></p>

<h1><center>Assignment no.13-Pagination</center></h1>
<hr>


      <h1 id="Users Information"><center><p>&#128509;</p>Users Information</center></h1>


  <style>
     table, th, td {
     border: 1px solid black;
     }
  </style>
<div align="center">
<table class='table table-condensed table-hover'>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.address %></td>
        <td><%= user.phone_number %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
</div>

<br>

<%= link_to 'New User', new_user_path %>
