
<%= form_with model: post do |form| %>
<div style="text-align: center;">
<div style= 'width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; text-align:left;'>
   <%= form.file_field :image %>

  </div>

</div>

  <div>
  	<%= form.text_field :title,placeholder: "Sender Name", :style=> 'width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;' %>
  </div>
  <br><br>
   	<div style="text-align:center;">
  	<%= form.text_area :body, placeholder: "Text", columns: "7", maxlength: "15",:style=> 'width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;' %><br><br>
  </div>

  <div >
  	<center><%= form.submit "Submit", class: "btn btn-info" %></center>
  </div>

<% end %>
