<p id="notice"><%= notice %></p>

<p>
  <strong>Book name:</strong>
  <%= @book_table.Book_name %>
</p>

<p>
  <strong>Published year:</strong>
  <%= @book_table.Published_year %>
</p>

<%= link_to 'Edit', edit_book_table_path(@book_table) %> |
<%= link_to 'Back', book_tables_path %>
