<div align="center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @revenue.item %>
</p>

<p>
  <strong>Total sales:</strong>
  <%= @revenue.total_sales %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @revenue.quantity %>
</p>

<%= link_to 'Edit', edit_revenue_path(@revenue) %> |
<%= link_to 'Back', revenues_path %>
</div>
