<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csp_meta_tag %>


    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <!-- Bootstrap core CSS -->
    <%= csrf_meta_tags %>
     <!-- Custom styles for this template -->



    <%= yield %>
