<p id="notice"><%= notice %></p>

<h1><center>Employees Information</center></h1>
<br>

<br>
<div class="container">
<div align="center">
<table class="table table-hover">
  <thead>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Phone number</th>
      <th scope="col">Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee1s.each do |employee1| %>
      <tr>
        <td><%= employee1.first_name %></td>
        <td><%= employee1.last_name %></td>
        <td><%= employee1.phone_number %></td>
        <td><%= employee1.address %></td>
        <td><%= link_to 'Show', employee1, :class=>"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_employee1_path(employee1), :class=>"btn btn-secondary"%></td>
        <td><%= link_to 'Destroy', employee1, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Employee1', new_employee1_path, :class=>"btn btn-link" %>
