<div align="center">
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee1.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee1.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @employee1.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee1.address %>
</p>

<%= link_to 'Edit', edit_employee1_path(@employee1) %> |
<%= link_to 'Back', employee1s_path %>
</div>
